{% extends "base.html" %}
{% block pagina %}equipo{% endblock %}
{% block titulo %}Equipo de administracion | The Diamonds League{% endblock %}
{% block descripcion %}Equipo de administracion de The Diamonds League: fundadores, masters y staff de la liga de HaxBall X5.{% endblock %}
{% block og_titulo %}Equipo de administracion | The Diamonds League{% endblock %}

{% block contenido %}
<section class="page-hero">
  <div class="wrap">
    <span class="etiqueta" data-etiqueta="equipo">EQUIPO ADMINISTRACION</span>
    <h1 class="display" data-titulo="equipo">Equipo de administracion</h1>
    <p data-subtitulo="equipo">Las personas que hacen posible la liga.</p>
  </div>
</section>

<div class="wrap page">
  <div class="equipo-staff-grid" id="equipoGrid"></div>
</div>
{% endblock %}
